<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-stable">
			<ion-nav-back-button></ion-nav-back-button>

			<ion-nav-buttons side="right">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="right">
		<ion-header-bar class="bar-stable">
			<h1 class="title">Menu</h1>
		</ion-header-bar>
		<ion-content>
			<ion-list>
			<ion-item nav-clear menu-close ng-click="goHome()">
					Home
				</ion-item>
				<ion-item nav-clear menu-close ng-click = "downloadOffline()">
					Download for offline
				</ion-item>
				<ion-item nav-clear menu-close ng-click='pushOfflineData()'>
					Sync with server
				</ion-item>
				<ion-item nav-clear menu-close ng-click="logout()">
					Logout
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
