<ion-view cache-view="false" view-title="Download Offline">

	<div id="home">
		<ion-content>
			<div id="companyName">
				{{companyName}}
			</div>
			<label class="item-input item-select" style="margin-top: 5%">
				<div class="input-label">
					Property
				</div>
				<select ng-model="propertySelected" ng-options='propertyObject.id as propertyObject.label for propertyObject in property' ng-change='onOfflinePropertyChange(propertySelected)'>
						<option value="" style="display: none;">Select Property</option>

					</select> </label>
			<label class="item-input">
				<div class="input-label">
					Date
				</div> <label id="dateHolder">{{date}}</label> </label>
			

			<div style="text-align: center; margin-top: 5%">
				<button class="button button-assertive" ng-click='getOfflineData()'>
					Download
				</button>
			</div>
			
			
		</ion-content>
	</div>
</ion-view>